@import "../node_modules/reveal.js/css/reveal.css";
@import "../node_modules/reveal.js/css/theme/league.css";
@import "../node_modules/highlight.js/styles/darcula.css";

$boxHeight : 15em;
$highLightColor : #13DAEC;

pre {
  box-shadow: none !important;
  margin : 2em 0 0 !important;
  width : auto !important;
  & code:not(.tiny) {
    height: $boxHeight * 2;
    width : 100% !important;
  }
}

img {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  &:not(.tiny){
    height: $boxHeight;
  }
}

.idea {
  cursor:  pointer;
  & h2 {
    color : $highLightColor;
  }
}